<div class="relative">
  <div {{bind-attr class=':torrent-info torrent.isSelected:selected'}}>
    {{#if isComplete}}
      <a href="#" class="torrent-name" {{action 'getTorrent'}}>
        {{invisible-spaces torrent.name}}
      </a>
    {{else}}
      <span class="torrent-name">{{invisible-spaces torrent.name}}</span>
    {{/if}}
    {{#if isDownloading}}
      downloading ({{percentStr}}%, {{hh-mm-ss eta}} remaining)
    {{else}}
      complete
    {{/if}}
    <a class="delete" href="#" {{action 'delete'}}>delete</a>
    {{#if torrent.canDownload}}
      <ul>
        {{#each sortedFiles}}
          <li>
            <a {{bind-attr href='url'}} target"_blank" class="file-name">{{invisible-spaces name}}</a>
            <a class="original-url" {{bind-attr href='original_url'}}>(original)</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{#if torrent.gettingInfo}}
        getting download link...
      {{/if}}
    {{/if}}
  </div>
  {{#if isDownloading}}
    <div class="torrent-progress-container"><div class="torrent-progress" {{bind-attr style='progressStyle'}}></div></div>
  {{/if}}
</div>
