<div class="relative">
  <div class="torrent-info">
    {{#if isComplete}}
      <a href="#" class="torrent-name" {{action 'getTorrent'}}>
        {{formattedName}}
      </a>
    {{else}}
      <span class="torrent-name">{{formattedName}}</span>
    {{/if}}
    {{#if isDownloading}}
      downloading ({{percentStr}}%, {{hh-mm-ss eta}} remaining)
    {{else}}
      complete
    {{/if}}
    <a class="delete" href="#" {{action 'delete'}}>delete</a>
    {{#if torrent.canDownload}}
      <ul>
        {{#each sortedFiles}}
          <li><a {{bind-attr href='url'}} target"_blank">{{name}}</a><a class="original-url" {{bind-attr href='original_url'}}>original</a></li>
        {{/each}}
      </ul>
    {{else}}
      {{#if torrent.gettingInfo}}
        getting download link...
      {{/if}}
    {{/if}}
  </div>
  {{#if isDownloading}}
    <div class="torrent-progress-container"><div class="torrent-progress" {{bind-attr style='progressStyle'}}></div></div>
  {{/if}}
</div>
