{{#if isComplete}}
  <a href="#" {{action 'getTorrent'}}>
  {{torrent.name}}
  </a>
{{else}}
  {{torrent.name}}
{{/if}}
{{#if isDownloading}}
  Downloading ({{torrent.percentDone}}%)
{{else}}
  Complete
{{/if}}
{{#if torrent.canDownload}}
  <ul>
    {{#each sortedFiles}}
      <li><a {{bind-attr href='url'}} target"_blank">{{name}}</a></li>
    {{/each}}
  </ul>
{{else}}
  {{#if torrent.gettingInfo}}
    Getting download link...
  {{/if}}
{{/if}}
<a href="#" {{action 'delete'}}>delete</a>
