<p>{{input value=url action='addTorrent'}} <a href="#" {{action 'addTorrent'}}>Add Torrent</a></p>
<p>
  <a href="{{unbound torrents.url}}" target="_blank">Transmission UI</a> -
  <a href="http://chips.whatbox.ca/private/" target="_blank">HTTP File Browser</a> -
  <a href="https://chips.whatbox.ca/filebrowser/" target="_blank">File Manager</a>
</p>
<ul>
{{#each torrent in torrents}}
  {{x-torrent torrent=torrent torrents=torrents}}
{{else}}
  {{#if torrents.isLoading}}
    <li>loading torrents...</li>
  {{else}}
    <li>no torrents!</li>
  {{/if}}
{{/each}}
</ul>
