<p>{{input value=url}} <a href="#" {{action 'addTorrent'}}>Add Torrent</a></p>
<p><a href="{{unbound torrents.url}}" target="_blank">Transmission UI</a></p>
<ul>
{{#each torrent in torrents}}
  {{x-torrent torrent=torrent torrents=torrents}}
{{else}}
  {{#if torrents.isLoading}}
    <li>Loading torrents...</li>
  {{else}}
    <li>No torrents!</li>
  {{/if}}
{{/each}}
</ul>
